body {
            font-family: "Trebuchet MS", sans-serif;
            color: #899069;
        }
h1, h2, h3 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: beige;
text-shadow: 2px 2px 2px black;
}
p{
color: forestgreen;
}
figure{
color: forestgreen;
}
ul{
color: forestgreen;
}
li{
color: olivedrab;
}
ol{
color: forestgreen;
}
hr{
color: wheat;
}
span{
color: white;
}
input{
color: gainsboro;
}
fieldset{
color: forestgreen;
}
legend{
    color:black;
}

.wrapper {

  display: flex;

}

.wrapper div {

  flex: 1;

}
